* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    margin: auto;
    width: 50rem;
    background-color: #333333;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}